<div class="cart-wrapper">
    <h3>Cart Info</h3>
    <table border="1">
        <tr *ngFor="let item of items">
            <td>
            <img src="{{item.product.photo}}" width="50">
            </td>
            <td>{{item.product.name}}</td>
            <td>{{item.product.price}}</td>
            <td>
                <button (click)="changeQuantity(item.product.id, 'minus', item.quantity)">-</button>
                    {{item.quantity}}
                <button (click)="changeQuantity(item.product.id, 'plus', item.quantity)">+</button>
            </td>
            <td>{{item.product.price * item.quantity}}</td>
        </tr>
        <tr>
            <td colspan="6" align="right">Total</td>
            <td>{{total}}</td>
        </tr>
    </table>
</div>