<div class="cart-wrapper">
    <header class="cart-header">
        <h3>Cart</h3>
    </header>
    <table>
        <tr *ngFor="let item of items">
            <td class="product-info">
                <img src="{{item.product.photo}}" width="50">
                <div>
                    <span class="item-title">{{item.product.name}}</span>
                    <span class="item-platform">{{item.product.platform}}</span>
                </div>
            <td class="amount" colspan="4" align="right">
                <button class="minus-plus" (click)="changeQuantity(item.product.id, 'minus', item.quantity)">-</button>
                    <span>{{item.quantity}}</span>
                <button class="minus-plus" (click)="changeQuantity(item.product.id, 'plus', item.quantity)">+</button>
            </td>
            <td class="item-price" align="right">R$ {{item.product.price * item.quantity}}</td>
        </tr>
        <tr class="total-row">
            <td class="total" colspan="5"  align="right">Total</td>
            <td class="total" align="right">R$ {{total}}</td>
        </tr>
    </table>
</div>