footer {
  background: #272727;
  width: 100%;
  
  div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;

    span {
      color: #367BA4;
    }
  }
}