.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;

  ul {
    align-items: center;
    display: flex;
    list-style: none;

    li {
      a {
        color: #3877A1;
        font-family: 'Open Sans', sans-serif;
        font-size: 22px;
        text-decoration: none;
      }

      &:nth-child(2) {
        padding-left: 17px;
      }
    }
  }
}

.navbar__logo {
  img {
    max-width: 137px;
    width: 100%;
  }
}

.login-hidden {
  display: none;
}

.left-div {
  position: relative;
}

.userName {
  margin-right: 19px;
}
