<nav class="navbar">
  <ul>
    <li>
      <a [routerLink]="['/']" class="navbar__logo" (click)="scrollTop()">
        <img src="assets/images/logo.jpg" />
      </a>
    </li>
    <li>
      <a [routerLink]="['/products']">
        Products
      </a>
    </li>
  </ul>
  <div class="left-div">
    <span class="userName">
      {{currentUser && currentUser.firstName}}
    </span> 
    <button [ngClass]="{'btn-logout':currentUser, 'btn-login':!currentUser}" class="btn" (click)="currentUser ? logout() : showLoginForm()"> 
      {{currentUser ? 'Logout' : 'Login'}}
    </button>
    <div [ngClass]="{'login-hidden':(!showLogin || currentUser)}">
      <app-login></app-login>
    </div>
  </div>
</nav>