.login-form {
  background: #FFF;
  border: 1px solid #D8C4C4;
  border-radius: 6px;
  padding: 30px 12px;
  position: absolute;
  bottom: -186px;
  left: -45%;
  z-index: 2;
}

.form-group {
  input {
    border: 1px solid #D8C4C4;
    border-radius: 6px;
    margin-bottom: 7px;
    padding: 7px 11px;
    width: 100%;

    &::placeholder {
      color: #367BA4;
    }
  }
}