.products-container {
  background: #FAFAFA;
  padding-top: 92px;
  padding-bottom: 144px;
  width: 100%;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.product {
  background: #FFFFFF;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  margin: 12px 16px;
  text-align: center;
  width: 369px;

  &:hover {
    border: 2px solid #1A78B7;
    box-sizing: border-box;
  }

  header {
    position: relative;
  }

  img {
    margin: 0 auto;
    max-height: 334px;
    height: 100%;
  }
}

.name-platform {
  padding-left: 16px;
  padding-top: 10px;
  text-align: left;
}

.price {
  background-color: #3877A1;
  border-bottom-left-radius: 12px;
  color: #FFF;
  position: absolute;
  padding: 20px;
  right: 0;
  top: 0;
}

.products-header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 88px;
  width: 76%;

  img {
    max-width: 42px;
    width: 100%;
  }
}

.number-amount {
  color: #367BA4;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}
